*.csv filter=lfs diff=lfs merge=lfs -text
data/*.csv filter=lfs diff=lfs merge=lfs -text
data/*.txt filter=lfs diff=lfs merge=lfs -text
data/*.yaml filter=lfs diff=lfs merge=lfs -text
data/*.jpg filter=lfs diff=lfs merge=lfs -bin
data/*.zip filter=lfs diff=lfs merge=lfs -bin
data/coco_2017/*.zip filter=lfs diff=lfs merge=lfs -bin
data/bin/*.zip filter=lfs diff=lfs merge=lfs -bin
